## 연습문제 풀기

In [3]:
# 학교, 학과, 이름, 연락처를 입력받아 변수에 저장, 출력
school = input("학교: ")
department = input("학과: ")
name = input("이름: ")
number = input("연락처: ")
print(f"{name} 학생은 {school} {department}에 재학 중이며, 연락처는 {number}입니다. ")

홍길동 학생은 대림대학교 컴퓨터정보학부에 재학 중이며, 연락처는 010-1111-2222입니다.

In [5]:
# 이름과 출생연도를 입력받아 한국 나이를 출력하는 프로그램을 작성하세요
name = input("이름 입력력: ")
number = int(input("출생년도 입력: "))
print(f"2023년 시점, {name}님의 나이는 {2023-number+1}살 입니다.")

2023년 시점, 2님의 나이는 20살 입니다.

In [6]:
# 월을 입력받아 계절을 출력하는 프로그램을 작성하세요
month = int(input("월 입력: "))
if 3 <= month <=5:
    print(f"{month}월은 봄")
elif 6 <= month <=8:
    print(f"{month}월은 여름")
elif 9 <= month <=11:
    print(f"{month}월은 가을")
elif 12 <= month <=2:
    print(f"{month}월은 겨울")
else:
    print("그런 계절 없습니다")

4월은 봄

In [7]:
# 두 번의 점수를 입력받아 합격 및 불합격 여부를 출력하는 프로그램을 작성하세요
a = float(input("1차 점수 입력: "))
b = float(input("2차 점수 입력: "))

if ((a + b / 2.0) >= 70) and (a >= 50) and (b >= 50):
    print("합격")
else:
    print("불합격")

불합격

In [8]:
# 컴퓨터가 생각한 1~30 사이의 숫자를 맞히는 게임 프로그램을 작성하세요
import random

num = random.randint(1,30)
print("<< 1~30 숫자 맞히기 게임 >>")
while True:
    a = int(input("숫자 입력(종료 0): "))
    if (a == 0):
        break
    elif (num == a):
        print("정답!!")
        break
    elif (a < num):
        print("더 큰 숫자 입력!")
    elif (a > num):
        print("더 작은 숫자 입력!")

<< 1~30 숫자 맞히기 게임 >>
더 큰 숫자 입력!
더 큰 숫자 입력!
더 작은 숫자 입력!
더 큰 숫자 입력!
정답!!

In [16]:
# 행운의 로또 복권 번호를 생성하여 리스트에 저장한 후 출력하세요
import random

numbers = []
while len(numbers) < 6:
    num = random.randint(1, 45)
    if num not in numbers:
        numbers.append(num)
    
print("<< 생성된 로또 번호 >>")
print(" ".join(map(str, numbers)))

<< 생성된 로또 번호 >>
23 35 38 19 3 39

In [ ]:
# 타자 연습 게임 프로그램을 작성하세요
import random

list2 = ["낙하", "불구덩이든", "경찰팥죽"]
num = 1

while True:
    quiz = random.choice(list2)
    a = input(f"문제 {num} (종료 0): {quiz}")
    
    if (a == "0"):
        break
    if (a == quiz):
        print("맞음!!")
    else:
        print("틀림! 다시!")
    num += 1

틀림! 다시!
틀림! 다시!
맞음!!

In [27]:
# MT 장소를 선정하기 위한 프로그램이다. 실행결과와 같이 MT 장소를 입력받아 딕셔너리에 저장한 후 투표 결과와 최다득표 MT 장장소를 화면에 출력하세요

dictionary = {"대성리":0, "춘천":0, "을왕리":0, "청평":0}

for key,value in dictionary.items():
    print(f"{key}:{value}표", end=" ")

print("\n<< MT 장소 투표 >>")
for i in range(4):
    place = input("장소: ")
    if place in dictionary:
        dictionary[place] += 1
print("장소:")
for key,value in dictionary.items():
    print(f"{key}:{value}표", end=" ")

num = max(dictionary.values())
place = (key for key, value in dictionary.items() if value == num)
print()
print(f"최다득표: {next(place)} {num}표")

대성리:0표 춘천:0표 을왕리:0표 청평:0표
<< MT 장소 투표 >>
장소:
대성리:0표 춘천:1표 을왕리:0표 청평:0표
최다득표: 춘천 1표

In [28]:
# 9. 다음 파이썬 코드의 결과를 예측하세요

def print_lyrics():
    print("Twinkle, twinkle, little star,")
    print("How I wonder what you are!")
    print("Up above the world so high,")
    print("Like a diamond in the sky.")
    print("Twinkle, twinkle, little star,")
    print("How I wonder what you are!")


print("Hoo", "ooh" * 4)
print()
print_lyrics()

Hoo oohoohoohooh

Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.
Twinkle, twinkle, little star,
How I wonder what you are!

In [29]:
# 사이렌오더를 통해 음료를 미리 예약하는 프로그램을 작성하세요

def price(menu: int):

    if menu == 1:
        return print("아메리카노: 3,000원")
    elif menu == 2:
        return print("카페라떼 : 4,000원")
    elif menu == 3:
        return print("바닐라라떼 : 4,500원")
    else:
        print("잘못된 숫자를 입력했습니다.")


menu = int(input("메뉴선택(1:아메리카노/2:카페라떼/3:바닐라라떼) "))
price(menu)

바닐라라떼 : 4,500원

In [40]:
# 다음 빈 곳에 알맞은 파이썬 코드를 작성하세요

files = ["report.hwp", "newJeans", "attention.png", "ditto.jpg", "address"]

print(list(filter(lambda file: file.endswith((".png", ".jpg")), files)))

['attention.png', 'ditto.jpg']

In [3]:
# 파일 내용을 읽어서 월의 평균기온을 계산한 후 출력

file = open("weather.txt")
datas = file.readlines()
for data in datas:
    month, low, hight = data.split(",")
    avg = (float(low) + float(hight))/2
    print(f"{month}월 평균기온은 {avg:.1f}℃입니다")

file.close()

7월 평균기온은 23.0℃입니다
8월 평균기온은 28.2℃입니다
9월 평균기온은 21.9℃입니다
10월 평균기온은 16.6℃입니다
11월 평균기온은 11.0℃입니다
12월 평균기온은 3.1℃입니다

In [5]:
# 임의의 엑셀 파일을 이용하여 수행
import pandas as pd

df = pd.read_excel('code.xlsx')
new = pd.DataFrame([['A88', '홍콩']], columns=df.columns)
code = pd.concat([df, new], ignore_index=True)
code.to_excel("code.xlsx", index=False)
code

  국적코드  국적명
0  A01  필리핀
1  A02   일본
2  A03   미국
3  A04   중국
4  A05   호주
5  A06  베트남
6  A07  스위스
7  A99   기타
8  A88   홍콩
9  A88   홍콩